<div class="panel panel-default">
    <div class="panel-heading">
        Buy {{secondaryCurrency}}
        <div class="panel-action">
            {{ primaryCurrencyBalance | number : '0.0-7'}} {{primaryCurrency}} available
        </div>
    </div>
    <div class="panel-body">
        <form [formGroup]="buyForm" class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-1 title-label">
                    Units
                </label>
                <div class="col-lg-11">
                    <div class="input-group ">
                        <div class="input-group-btn">
                            <button class="btn waves-effect waves-light btn-info" style="min-width:7vw;">MAX</button>
                        </div>
                        <input type="number" class="form-control" formControlName="Units">
                        <div class="input-group-addon">
                            <span class="input-group-text span-right-radius">{{secondaryCurrency}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 title-label">
                    Bid
                </label>
                <div class="col-lg-11">
                    <div class="input-group ">
                        <div class="input-group-btn">
                            <button class="btn waves-effect waves-light btn-info dropdown-toggle" style="min-width:7vw;" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Price
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li (click)="getLastPrice()">
                                    <a>Last</a>
                                </li>
                                <li (click)="getLastBidPrice()">
                                    <a>Bid</a>
                                </li>
                                <li (click)="getLastAskPrice()">
                                    <a>Ask</a>
                                </li>
                            </ul>
                        </div>
                        <input type="number" class="form-control" formControlName="rate">
                        <div class="input-group-addon">
                            <span class="input-group-text span-right-radius">{{primaryCurrency}}</span>
                        </div>
                    </div>

                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-1 title-label">
                    Type
                </label>
                <div class="col-lg-11">

                    <div class="input-group ">
                        <div class="input-group-btn">
                            <button class="btn waves-effect waves-light btn-info dropdown-toggle" style="min-width:7vw;" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">{{buyDrop}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" (click)="isConditionalBuy = false; buyDrop = 'Limit' ">Limit(Default)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" (click)="isConditionalBuy = true; buyDrop = 'Conditional' ">Conditional</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div *ngIf="isConditionalBuy" class="form-group">
                <label class="col-lg-1 title-label">
                    Buy When
                </label>
                <div class="col-lg-11">
                    <div class="input-group ">
                        <div class="input-group-btn">
                            <button class="btn btn-danger dropdown-toggle btn-right-radius" style="min-width:7vw;" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">{{buyCondtion}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" (click)="buyCondtion='Condition'">None</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" (click)="buyCondtion='>='">Greater than or equal to</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" (click)="buyCondtion='<='">Less than or equal to</a>
                                </li>

                            </ul>
                        </div>
                        <input type="number" class="form-control">
                        <div class="input-group-addon">
                            <span class="input-group-text span-right-radius">{{primaryCurrency}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 title-label">
                    Total
                </label>
                <div class="col-lg-11">
                    <div class="input-group ">
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-right-radius" style="min-width:7vw;">
                                <i class="glyphicon glyphicon-btc"></i>
                            </button>
                        </div>
                        <input type="number" class="form-control" value="{{this.buyForm.value.rate * this.buyForm.value.Units}}">
                        <div class="input-group-addon">
                            <span class="input-group-text span-right-radius">{{primaryCurrency}}</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-9">
                    <button type="submit" class="btn btn-primary " (click)="buyModal.show()">
                        <i class="glyphicon glyphicon-plus"></i> Buy {{secondaryCurrency}}</button>
                </div>
            </div>
        </form>
    </div>
</div>



<div bsModal #buyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Limit Buy</h4>
                <button type="button" class="close" (click)="buyModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form [formGroup]="buyFormWithCommision" class="form-horizontal">
                        <div class="form-group">
                             <label class="title-label col-lg-2" >Type:</label><span class="col-lg-4">  Limit Buy</span>
                             <label class="title-label col-lg-3"> Buy Market:</label> <span class="col-lg-3"> {{currencyData}}</span>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 title-label">
                                Quantity
                            </label>
                            <div class="col-lg-9">
                                <div class="input-group ">
                                    <input type="number" class="form-control" formControlName="Units" disabled value="{{this.buyForm.value.Units}}">
                                    <div class="input-group-addon">
                                        <span class="input-group-text span-right-radius">{{secondaryCurrency}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 title-label">
                                Price
                            </label>
                            <div class="col-lg-9">
                                <div class="input-group ">
                                    <input type="number" class="form-control" formControlName="rate" disabled value="{{this.buyForm.value.rate}}">
                                    <div class="input-group-addon">
                                        <span class="input-group-text span-right-radius">{{primaryCurrency}}</span>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-lg-3 title-label">
                                SubTotal
                            </label>
                            <div class="col-lg-9">
                                <div class="input-group ">
                                    <input type="number" class="form-control" formControlName="SubTotal" disabled [value]="this.buyForm.value.Units * this.buyForm.value.rate">
                                    <div class="input-group-addon">
                                        <span class="input-group-text span-right-radius">{{primaryCurrency}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 title-label">
                                Commision
                            </label>
                            <div class="col-lg-9">
                                <div class="input-group ">
                                    <input type="number" class="form-control" formControlName="Commision" disabled [value]="commision()">
                                    <div class="input-group-addon">
                                        <span class="input-group-text span-right-radius">{{primaryCurrency}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <label class="col-lg-3 title-label">
                                Total
                            </label>
                            <div class="col-lg-9">
                                <div class="input-group ">
                                    <input type="number" class="form-control" formControlName="Total" disabled [value]="total()">
                                    <div class="input-group-addon">
                                        <span class="input-group-text span-right-radius">{{primaryCurrency}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="buyModal.hide();">Cancel</button>
                <button type="submit" class="btn btn-primary" (click)="buyModal.hide();postBid()">Confirm</button>
            </div>
        </div>
    </div>
</div>