<div class="panel panel-default">
    <div class="panel-heading">
        <div class="title-label" style="position:relative;text-align:left;display:inline-block;">Sell {{secondaryCurrency}}</div>
        <div class="title-label" style="position:relative;text-align:right;display:inline-block;float:right">{{secondaryCurrencyBalance | number : '0.0-7' || 0}} {{secondaryCurrency}} available</div>
    </div>
    <div class="panel-body">
        <form [formGroup]="sellForm" class="form-horizontal" (submit)="sellModal.show()">

            <div class="form-group">
                <label class="col-lg-1 title-label">
                    Units
                </label>
                <div class="col-lg-11 ">
                    <div class="input-group ">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-right-radius" style="min-width:7vw;">MAX</button>
                        </div>
                        <input type="number" formControlName="Units" class="form-control">
                        <div class="input-group-addon">
                            <span class="input-group-text span-right-radius">{{secondaryCurrency}}</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 title-label">
                    Ask
                </label>
                <div class="col-lg-11">
                    <div class="input-group ">
                        <div class="input-group-btn">
                            <button class="btn btn-primary dropdown-toggle btn-right-radius" style="min-width:7vw;" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Price
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li (click)="getLastPrice()">
                                    <a>Last</a>
                                </li>
                                <li (click)="getLastBidPrice()">
                                    <a>Bid</a>
                                </li>
                                <li (click)="getLastAskPrice()">
                                    <a>Ask</a>
                                </li>
                            </ul>
                        </div>
                        <input type="number" formControlName="rate" class="form-control">
                        <div class="input-group-addon">
                            <span class="input-group-text span-right-radius">{{primaryCurrency}}</span>

                        </div>
                    </div>

                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-1 title-label">
                    Type
                </label>
                <div class="col-lg-11">

                    <div class="input-group ">
                        <div class="input-group-btn">
                            <button class="btn btn-danger dropdown-toggle" style="min-width:7vw;" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">{{sellDrop}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" (click)="isConditionalSell = false; sellDrop = 'Limit' ">Limit(Default)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" (click)="isConditionalSell = true; sellDrop = 'Conditional' ">Conditional</a>
                                </li>
                            </ul>
                        </div>
                        <!-- <div>Time In force</div>
                                <div class="input-group-append">
                                    <span class="input-group-text span-right-radius"  >Good 'Til Cancelled</span>

                                </div> -->
                    </div>

                </div>
            </div>

            <div *ngIf="isConditionalSell" class="form-group">
                <label class="col-lg-1 title-label">
                    Sell When
                </label>
                <div class="col-lg-11">
                    <div class="input-group ">
                        <div class="input-group-btn">
                            <button class="btn btn-danger dropdown-toggle btn-right-radius" style="min-width:7vw;" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" #condition>{{sellCondtion}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" (click)="sellCondtion='Condition'">None</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" (click)="sellCondtion='>='">Greater than or equal to</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" (click)="sellCondtion='<='">Less than or equal to</a>
                                </li>
                            </ul>
                        </div>
                        <input type="number" class="form-control">
                        <div class="input-group-addon">
                            <span class="input-group-text span-right-radius">{{primaryCurrency}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-1 title-label">
                    Total
                </label>
                <div class="col-lg-11">
                    <div class="input-group ">
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-right-radius" style="min-width:7vw;">
                                <i class="glyphicon glyphicon-btc"></i>
                            </button>
                        </div>
                        <input type="number" class="form-control" value="{{this.sellForm.value.rate * this.sellForm.value.Units}}">
                        <div class="input-group-addon">
                            <span class="input-group-text span-right-radius">{{primaryCurrency}}</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-9">
                    <button type="submit" class="btn btn-primary ">
                        <i class="glyphicon glyphicon-minus"></i> SELL {{secondaryCurrency}}</button>
                </div>

            </div>
        </form>
    </div>
</div>



<div bsModal #sellModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Limit Sell</h4>
                <button type="button" class="close" (click)="sellModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form [formGroup]="sellFormWithCommision" class="form-horizontal">
                    <div class="form-group">
                        <label class="title-label col-lg-2">Type:</label>
                        <span class="col-lg-4">Limit Sell</span>
                        <label class="title-label col-lg-3"> Sell Market:</label>
                        <span class="col-lg-3"> {{currencyData}}</span>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 title-label">
                            Quantity
                        </label>
                        <div class="col-lg-9">
                            <div class="input-group ">
                                <input type="number" class="form-control" formControlName="Units" disabled value="{{this.sellForm.value.Units}}">
                                <div class="input-group-addon">
                                    <span class="input-group-text span-right-radius">{{secondaryCurrency}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 title-label">
                            Price
                        </label>
                        <div class="col-lg-9">
                            <div class="input-group ">
                                <input type="number" class="form-control" formControlName="rate" disabled value="{{this.sellForm.value.rate}}">
                                <div class="input-group-addon">
                                    <span class="input-group-text span-right-radius">{{primaryCurrency}}</span>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-lg-3 title-label">
                            SubTotal
                        </label>
                        <div class="col-lg-9">
                            <div class="input-group ">
                                <input type="number" class="form-control" formControlName="SubTotal" disabled [value]="this.sellForm.value.Units * this.sellForm.value.rate">
                                <div class="input-group-addon">
                                    <span class="input-group-text span-right-radius">{{primaryCurrency}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 title-label">
                            Commision
                        </label>
                        <div class="col-lg-9">
                            <div class="input-group ">
                                <input type="number" class="form-control" disabled formControlName="Commision" disabled [value]="commision()">
                                <div class="input-group-addon">
                                    <span class="input-group-text span-right-radius">{{primaryCurrency}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 title-label">
                            Total
                        </label>
                        <div class="col-lg-9">
                            <div class="input-group ">
                                <input type="number" class="form-control" disabled formControlName="Total" disabled [value]="total()">
                                <div class="input-group-addon">
                                    <span class="input-group-text span-right-radius">{{primaryCurrency}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="sellModal.hide()">Cancel</button>
                <button type="submit" class="btn btn-primary" (click)="sellModal.hide();ask();">Confirm</button>
            </div>
        </div>
    </div>
</div>