// Here you can add other styles
   // background-image:url(https://www.random.org/analysis/randbitmap-rdo.png);
   .navbar-brand{
    margin: 9px 25px 10px 21px;
   }
   li.c_2 span {
    font-size:18px;
   }
   li.c_1 {
    display: inline-block;
    text-transform:uppercase;
    margin-left:20px;
    margin-right:20px;
    color:#0aadef;
    padding-left:28px;
    background: url(https://yobit.io/images/content_ico.png) no-repeat scroll 0 -148px;
}
li.c_2 {
    display: inline-block;
    text-transform:capitalize;
    margin-right:20px;
    padding-left:20px;
    padding-right:20px;
    
}
.app-header{
  //  background-color :#000000 !important;
  //  box-shadow : 0 3px 15px black;
    border-bottom:0px !important;
    border-radius:0px !important;
}
.app-header > .icon > .fa-bars{
    color: #000000 !important;
}
thead > tr{
    color: white;
    background: #465a73;
    height: 40px;
   // background-color: #000000;
  //  box-shadow : 0 3px 15px black;
  //  color: #ffffff;
  //  border-bottom-color: #000000;
}
.app-header > .icon{
    display: block;
    padding: 3px;
    color: #ffffff !important;
    text-decoration: none;
    cursor: pointer;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: all linear .15s;
    font-size:1.714em
}
body{
    font-family: 'Open Sans',sans-serif
}
.form-search{
    float: right
}
.list-group-item{
    cursor: pointer;
}
.featurette-heading{
    font-weight:bold;
    text-transform:uppercase;
    padding-top: 18px;
    padding-bottom: 6px;
    font-size:20px;
}
.pull-right{
    float: right;
}
.table>thead>tr>th{
    font-weight:600
}
.table thead th{
    font-size:11px
}
input.form-control{
    text-align: right;
}
.font-2xl{
    font-size: 2.5rem !important
}
.font-xs{
    font-size: 1.75rem !important
}
.title-label{
    font-weight: 700
}
.th-header{
    text-align:center;
    font-weight:600;
    text-transform:uppercase;
}
.btn-right-radius{
    border-top-right-radius:0px !important;
    border-bottom-right-radius:0px !important;    
}
.span-right-radius{
    border-top-right-radius:4px !important;
    border-bottom-right-radius:4px !important;    
}
.input-group-text{
min-width:5vw;
}
.form-control{
    height: auto
}
.table-layout{
    table-layout:fixed
}
.pad-md{
    padding: 5rem !important;
}
.currrecy-logo{
    height: 6vh;
    width: 3vw;
}
.fa.black{
    color:black !important;
}
.glyphicon.black{
    color:black !important;
}

.pad-sm{
    padding: 3rem !important;
    border: 1px solid gray;
}
.fa-a:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'B & A ';
}
.shadow-round{
    box-shadow: 5px 5px 5px 5px #888888;
    border-radius: 2rem;
}

i{
    color:white !important;
}

.nav.navbar-nav{
    display:inline-block !important;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}

.btn-default{
    border: 1px solid #c2cfd6;
}

