    <div class="panel white-box">
        <div class="panel-heading ">
            {{title}}
            <div class="panel-action">
                <form class="form-inline ">
                    <span class="form-group row ">
                        <label>Filter:</label>
                        <input type="text" class="form-control" name="search" [(ngModel)]="inputName" (change)="FilterByName()">
                    </span>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover hover-table ">
                <thead>
                    <tr>
                        <th *ngFor="let item of keys" [hidden]="!item.visible" (click)="sort(item.fieldName)">
                            <span>{{ item.displayName }} </span>&nbsp;
                            <i class="fa" [ngClass]="{'fa-sort': column != item.fieldName, 'fa-sort-asc': (column == item.fieldName && isDesc), 'fa-sort-desc': (column == item.fieldName && !isDesc) }"
                                aria-hidden="true"> </i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rowData of items |  orderBy: {property: column, direction: direction}">
                        <td *ngFor="let item of keys" [hidden]="!item.visible">
                            <span *ngIf="!item.routing">{{ rowData[ item.fieldName] }}</span>
                            <a *ngIf="item.routing" [routerLink]="item.routingURL" [queryParams]="{marketName: rowData[ item.fieldName] }">{{rowData[ item.fieldName]}}</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10" class="footable-visible">
                            <div class="text-right">
                                <ul class="pagination pagination-split m-t-30">
                                    <li class="footable-page-arrow" [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}">
                                        <a (click)="prevPage()">
                                            <i class="fa fa-angle-left"></i>
                                        </a>
                                    </li>
                                    <li *ngFor="let page of pagesIndex" class="footable-page" [ngClass]="{'active': (currentIndex == page)}">
                                        <a (click)="setPage(page)">{{page}}</a>
                                    </li>
                                    <li class="footable-page-arrow"[ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}">
                                        <a (click)="nextPage()">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
