<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="card pad-md shadow-round" id="register">
            <h2 style="text-align:center">Register</h2>
            <form name="form" (ngSubmit)="signUpForm.form.valid && register(signUpForm) " #signUpForm="ngForm" novalidate>
                <div *ngIf="errorResponse" style="text-align:center;color:red">{{errorMessage}}</div>
                <div class="form-group" [ngClass]="{ 'has-error': accountname.touched && !accountname.valid }">
                    <label for="accountname">Account Name</label>
                    <input type="text" class="form-control" name="accountname" [(ngModel)]="user.acname" #accountname="ngModel" placeholder="Account Name"
                        required />
                    <div *ngIf="accountname.touched && !accountname.valid" class="help-block">Account Name is required</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': email.touched && !email.valid }">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Email Id" [(ngModel)]="user.emailid" #email="ngModel"
                        required pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
                    />
                    <div *ngIf="email.touched && !email.valid" class="help-block">Please enter valid Email</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': mobile.touched && !mobile.valid }">
                    <label for="mobile">Mobile Number</label>
                    <input type="tel" class="form-control" name="mobile" placeholder="Mobile Number" [(ngModel)]="user.mobile" #mobile="ngModel"
                        required pattern='^(\+91-|\+91|0)?\d{10}$' />
                    <div *ngIf="mobile.touched && !mobile.valid" class="help-block">Please enter vaild Mobile Number</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': password.touched && !password.valid }">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="user.appuser.Password" #password="ngModel"
                        required pattern='^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^\w\s]).{6,}$' />
                    <div *ngIf="password.touched &&!password.valid" class="help-block">Password must contain one upper and lowercase, number and special character </div>
                </div>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                <div class="col-xs-12">
                    <button [disabled]="!signUpForm.valid" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" style="float:right; margin-left:0.6vw;"
                        type="submit" >
                        <span style="margin-left:0.6vw;">SIGN UP</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<h5 style="text-align: center">Already have an account?
    <a routerLink="/login">Login Here</a>
</h5>