$font-color: #96a2b4;
html{
    background:none ;
}

body{
    height:100%;
    background-color:#3c4452 ;
}
// .navbar-header{
//     background-color:rgb(160, 174, 196);
//     height:50px;

// }
// .navbar-header{
//     height:50px;
//     box-shadow:  0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
// }
.navbar-header{
    height:50px ;
}
#page-wrapper{
    // margin-top:  0px !important;
}
.navbar-default{
    background-color: transparent;
}


text {
    fill: $font-color;
  }


  li.c_2 span {
    font-size:18px;
   }
   li.c_1 {
    display: inline-block;
    text-transform:uppercase;
    margin-left:20px;
    margin-right:20px;
    color:#0aadef;
    padding-left:28px;
    background: url(https://yobit.io/images/content_ico.png) no-repeat scroll 0 -148px;
}
li.c_2 {
    display: inline-block;
    text-transform:capitalize;
    margin-right:20px;
    padding-left:20px;
    padding-right:20px;
    
}

.fa-a:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'B & A ';
}