<div>
    <!-- <div style="padding:3vw;">
        <img src="assets/img/logo/btr-logo.png" class="img-responsive center-block" id="logo-image">
    </div> -->

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="card pad-md shadow-round" id="login">
                <h2 style="text-align:center">LOG IN</h2>
                <form name="form" class="form-horizontal new-lg-form" (ngSubmit)="f.form.valid  && login(myModal) " #f="ngForm" novalidate>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <input type="email" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" placeholder="Email Address"
                            required />
                        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel"
                            required />
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                    </div>
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-info pull-left p-t-0">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup"> Remember me </label>
                            </div>
                            <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right">
                                <i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <re-captcha [(ngModel)]="formModel.captcha" name="captcha" required #captchaControl="ngModel"></re-captcha>
                        <div [hidden]="captchaControl.valid || captchaControl.pristine" class="error">Captcha must be solved</div>
                        <div [hidden]="!captchaControl.valid" class="success">Captcha is valid</div>
                    </div>
                    <hr/>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button [disabled]="!f.valid" class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">Log In</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <h5 style="text-align: center">Don't have an account?
        <a routerLink="/signup">Sign Up</a>
    </h5>
</div>