<div id="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
    <div id="page-wrapper">
      <div class="container-fluid" style="padding-left:60px;padding-top:60px">
        <router-outlet></router-outlet>
      </div>
    </div>
  <app-aside></app-aside>
</div>