﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon.jpg">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BittreXchange</title>
    <!-- Bootstrap Core CSS-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS-->
    <link href="css/universal.css" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="top">
    <!-- Preloader-->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <!-- Navigation One Page-->
    <nav class="navbar navbar-universal navbar-custom navbar-fixed-top navbar-onepage">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><a href="#page-top" class="navbar-brand page-scroll">
                    <!-- Text or Image logo--><img src="img/bitrrexchangew.png" alt="Logo" class="logo"><img src="img/bittrexchangelogo.png" alt="Logo" class="logodark">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling-->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section-->
                    <li class="hidden"><a href="#page-top"></a></li>
                    <li><a href="#" class="page-scroll">Home</a></li>
                    <li><a href="#" class="page-scroll">About</a></li>
                    <li><a onclick="@("window.location.href='" + @Url.Action("Markets", "Home") + "'")"   class="page-scroll" style="cursor:pointer">Markets</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header data-background="img/header.jpg" class="intro">
        <!-- Intro Header-->
        <div class="intro-body">
            <h1 style="text-transform:uppercase;">BittreXchange</h1>
            <h1 style=" margin-top:25px;">THE NEXT-GENERATION DIGITAL <br />CURRENCY EXCHANGE</h1>
            <p data-wow-iteration="999" data-wow-duration="3s" class="wow flash"><a href="#page-about"><img src="img/arrow.png" alt="" class="rotate"></a></p>

        </div>
    </header>
    <!-- Slider-->
    <section id="services" class="text-center bg-green">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>99.99% Uptime and very scalable to handle multiple request at a single time</h3>
                    <p>Our exchange is a safe place to trade because of the following:</p>
                </div>
            </div>
            <div class="row">
                <div data-wow-delay=".2s" class="col-lg-4 col-sm-6 wow fadeIn">
                    <img src="img/icon1.png" />
                    <h4 style="margin:10px 0 12px 0;">ANTIDDOS PROTECTION</h4>
                    <p>Anti-DDoS protection ensures our infrastructure remains accessible 24/7 through a network.</p>
                </div>
                <div data-wow-delay=".4s" class="col-lg-4 col-sm-6 wow fadeIn">
                    <img src="img/icon2.png" />
                    <h4 style="margin:10px 0 12px 0;">GLOBAL PRESENCE</h4>
                    <p>BittreXchangechange servers are located in 4 global regions to ensure fast server responses irrespectively of your location.</p>
                </div>
                <div data-wow-delay=".6s" class="col-lg-4 col-sm-6 wow fadeIn">
                    <img src="img/icon3.png" />
                    <h4 style="margin:10px 0 12px 0;">LIGHTNING FAST AND SECURE</h4>
                    <p>Independent auditors are constantly testing our systems to maintain top-notch security level.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="bg-dark section-small">
        <div class="container" id="page-about">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        <h3>Lowest fee ever @@0.2%, limitless trade, limitless transactions</h3>
                        <p class="no-pad">We managed to lower our fees by using existing financial reserves. All internal trades will cost anywhere from 0,1 to 0,2%. This is not a one-time offer, we are going to keep the same fees forever.</p>
                        <a href="#"><button type="button" class="btn btn-border btn-lg mt-40px">GET STARTED NOW <i class="fa fa-sign-in"></i></button></a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Slider-->
    <section id="services" class="text-center">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3 style="color:#4057A7;">Advantages with Bittrexhange</h3>
                </div>
            </div>
            <div class="row">
                <div data-wow-delay=".2s" class="col-lg-4 col-sm-6 wow fadeIn">
                    <img src="img/aicon1.png" />
                    <h4 style="margin:13px 0 13px 0; color:#000;">Global presence</h4>
                    <p style="color:#000;">BittreXchange servers are located in 4 global regions ASIA, USA, EUROPE. Fast server responses, no matter where you are</p>
                </div>
                <div data-wow-delay=".4s" class="col-lg-4 col-sm-6 wow fadeIn">
                    <img src="img/aicon2.png" />
                    <h4 style="margin:13px 0 13px 0; color:#000;">Verification</h4>
                    <p style="color:#000;">AML policy requires the use of KYC policy</p>
                </div>
                <div data-wow-delay=".6s" class="col-lg-4 col-sm-6 wow fadeIn">
                    <img src="img/aicon3.png" />
                    <h4 style="margin:13px 0 13px 0; color:#000;">Privacy</h4>
                    <p style="color:#000;">All our trader info is kept undisclosed and cannot be released to any state authorities</p>
                </div>
            </div>
            <div class="row">
                <div data-wow-delay=".8s" class="col-lg-4 col-sm-6 wow fadeIn">
                    <img src="img/aicon4.png" />
                    <h4 style="margin:13px 0 13px 0; color:#000;">High operating speed</h4>
                    <p style="color:#000;">Our exchange can handle up to 5M transactions per second and up to 500 000 customer requests simultaneously</p>
                </div>
                <div data-wow-delay="1s" class="col-lg-4 col-sm-6 wow fadeIn">
                    <img src="img/aicon5.png" />
                    <h4 style="margin:13px 0 13px 0; color:#000;">Traders from all around the globe</h4>
                    <p style="color:#000;">Traders from 170 countries are interested in working with us</p>
                </div>
                <div data-wow-delay="1.2s" class="col-lg-4 col-sm-6 wow fadeIn">
                    <img src="img/aicon6.png" />
                    <h4 style="margin:13px 0 13px 0; color:#000;">Stable and comfortable performance on different devices</h4>
                    <p style="color:#000;">Tested to ensure stable and comfortable performance across a variety of devices and OS</p>
                </div>
            </div>
            <div class="row">
                <div data-wow-delay="1.4s" class="col-lg-4 col-sm-6 wow fadeIn">
                    <img src="img/aicon7.png" />
                    <h4 style="margin:13px 0 13px 0; color:#000;">Clear & understandable graphs</h4>
                    <p style="color:#000;">Our high-end graphs as well a variety of tools for technical analysis allow both newbies and professionals to effectively determine trends and price targets</p>
                </div>
                <div data-wow-delay="1.6s" class="col-lg-4 col-sm-6 wow fadeIn">
                    <img src="img/aicon8.png" />
                    <h4 style="margin:13px 0 13px 0; color:#000;">User friendly interface</h4>
                    <p style="color:#000;">We’ve created a clear and user-friendly interface that every user will enjoy</p>
                </div>
                <div data-wow-delay="1.6s" class="col-lg-4 col-sm-6 wow fadeIn">
                    <img src="img/aicon9.png" />
                    <h4 style="margin:13px 0 13px 0; color:#000;">Rest API</h4>
                    <p style="color:#000;">New technology that ensures positive user experience</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section-->
    <section id="contact" class="bg-img2" style="overfloaw:hidden;">
        <div class="overlay"></div>
        <!-- footer small-->
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p data-wow-iteration="999" data-wow-duration="3s" class="wow flash"><a href="#page-top" class="page-scroll"><i class="icon ion-ios-arrow-up fa-2x"></i></a></p>
                    <h1 style="text-transform:uppercase;font-size: 64px;">BittreXchange</h1>
                    <ul class="list-inline">
                        <li><a href="/"><i class="fa fa-twitter fa-fw fa-2x"></i></a></li>
                        <li><a href="/"><i class="fa fa-facebook fa-fw fa-2x"></i></a></li>
                        <li><a href="/"><i class="fa fa-google-plus fa-fw fa-2x"></i></a></li>
                        <li><a href="/"><i class="fa fa-linkedin fa-fw fa-2x"></i></a></li>
                    </ul>
                    <p><a href="http://ForBetterWeb.com">©2018 BittreXchange</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery-->
    <script src="js/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap Core JavaScript-->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript-->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/device.min.js"></script>
    <script src="js/form.min.js"></script>
    <script src="js/jquery.placeholder.min.js"></script>
    <script src="js/jquery.shuffle.min.js"></script>
    <script src="js/jquery.parallax.min.js"></script>
    <script src="js/jquery.circle-progress.min.js"></script>
    <script src="js/jquery.swipebox.min.js"></script>
    <script src="js/smoothscroll.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/text-rotator.min.js"></script>
    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3E86i8mx1BZDlAaLcknh_mWl4F70i4os"></script>
    <script src="js/map-dark.js"></script>
    <!-- Custom Theme JavaScript-->
    <script src="js/universal.js"></script>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</body>
</html>