
<div>
    <div class="panel">
        <div class="panel-heading">
            CURRENCIES
            <div class="panel-action">
                <button class="btn btn-success btn-xs" data-toggle="modal" (click)="edit=true;"> Edit </button>
                <button *ngIf="edit" class="btn btn-success btn-xs" data-toggle="modal" (click)="edit=false;"> Cancel </button>
            </div>
        </div>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th class="col-header th-header">
                        <span># </span>&nbsp;
                    </th> 
                    <th></th>
                    <th *ngFor="let item of keys" [hidden]="!item.visible" class="th-header">
                        <span>{{ item.displayName }} </span>
                    </th>
                    <th class="col-header th-header" *ngIf="edit">
                        <span>Action </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let currency of currencies; let i = index">
                    <td> {{ i + 1}}
                    </td>
                    <td>
                         <img [src]="currency.cursymbolurl" style="float:left" class="currrecy-logo img-circle" style="width:30px;">
                    </td>
                    <td *ngFor="let item of keys" [hidden]="!item.visible" >
                        <div *ngIf="item.type == 'CurrencyName'">
                                {{ currency[ item.fieldName] }}
                        </div>
                        <div *ngIf="item.type == 'String'">
                            {{ currency[ item.fieldName] }}
                        </div>
                        <div *ngIf="item.type == 'percent'">
                            <input type="number" class="form-control" [name]="item.fieldName" [(ngModel)]="currency[ item.fieldName]" *ngIf="edit" />
                            <span *ngIf="!edit"> {{ currency[ item.fieldName] || 0}}</span>
                        </div>
                        <div *ngIf="item.type == 'primary'">
                            <span *ngIf="edit">
                                <!-- <ui-switch (change)="onChange($event)" [(ngModel)]="currency[ item.fieldName]" [checked]="currency[ item.fieldName] == 1"></ui-switch> -->
                                <label class="switch switch-3d switch-primary">
                                    <input checked="" class="switch-input " type="checkbox" (change)="onChange($event)" [(ngModel)]="currency[ item.fieldName]"
                                        [checked]="currency[ item.fieldName] == 1">
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </span>
                            <span *ngIf="!edit">
                                {{ currency[ item.fieldName] == 1 }}
                            </span>
                        </div>
                        <div *ngIf="item.type == 'dateTime'">
                            {{ currency[ item.fieldName] | amUtc | amDateFormat: 'YYYY-MM-DD hh:mm:ss' }}
                        </div>
                    </td>
                    <td *ngIf="edit">

                        <a class="btn btn-primary btn-sm" #cancel>
                            <span class="glyphicon glyphicon-remove" style="color:white"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<!-- <app-table [records]=currencies></app-table> -->
<!-- <div class="animated fadeIn">
    <div class="row">
        <div class="col-6 col-lg-3" *ngFor="let currency of currencies">
            <div class="card" (click)="route(currency)" style=" cursor: pointer; outline:none">
                <div class="card-body p-0 clearfix">
                    <i class="fa  bg-primary p-4 font-2xl mr-3 float-left">
                        <img style="height :10vh;width:5vw" [src]="currency.cursymbolurl" />
                    </i>
                    <div class="h5 text-primary mb-0 pt-3">{{currency.currencyshortname}}</div>
                    <div class="text-muted text-uppercase font-weight-bold font-xs">{{currency.currencyname}}</div>
                    Primary:
                    <input type="checkbox" (click)="primaryChange(currency, $event)">


                </div>
            </div>
        </div>


    </div>
</div> -->