<div>
    <div style="margin-top:1vw;">
        <span class="subtitle">USER</span>
        <button style="float:right;" class="btn btn-success btn-xs" data-toggle="modal" (click)="myModal.show()">
            <span class="glyphicon glyphicon-plus"></span> Add New User </button>
    </div>
    <hr>

    <div>
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-action">
                    <form class="form-inline form-search">
                        <span class="form-group row" style="float:right">
                            <label>Filter:</label>
                            <input type="text" class="form-control">
                        </span>
                    </form>
                </div>
            </div>
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th *ngFor="let item of keys" [hidden]="!item.visible" class="th-header" (click)="sort(item)">
                            <span>{{ item.displayName }} </span>&nbsp;
                            <i class="fa" [ngClass]="{'fa-sort': column != item.fieldName, 'fa-sort-asc': (column == item.fieldName && isDesc), 'fa-sort-desc': (column == item.fieldName && !isDesc) }"
                                aria-hidden="true"> </i>
                        </th>
                        <th class="col-header th-header">ACTION</th>
                    </tr>
                </thead>
                <tbody *ngIf="users">
                    <tr *ngFor="let rowData of users |  orderBy: {property: column, direction: direction}">
                        <td *ngFor="let item of keys" [hidden]="!item.visible" [ngStyle]="{'text-align':'center'}">
                            {{ rowData[ item.fieldName] }}
                        </td>
                        <td [ngStyle]="{'text-align':'center'}">
                            <a class="btn btn-primary btn-sm" routerLink="/admin/manage/wallet" [queryParams]="{accountId: rowData.accountid }">
                                <span class="fa fa-btc" style="color:white"></span>
                            </a>

                            <a class="btn btn-primary btn-sm" routerLink="/admin/manage/reset" [queryParams]="{accountId: rowData.accountid}">
                                <span class="fa-passwd-reset fa-stack" style="font-size: 0.85rem;">
                                    <i class="fa fa-undo fa-stack-2x"></i>
                                    <i class="fa fa-lock fa-stack-1x"></i>
                                </span>
                            </a>
                            <a class="btn btn-primary btn-sm" routerLink="/admin/manage/trans" [queryParams]="{accountId: rowData.accountid }">
                                <span class="fa fa-exchange" style="color:white"></span>
                            </a>

                            <a class="btn btn-primary btn-sm" routerLink="/admin/manage/bidask" [queryParams]="{accountId: rowData.accountid }">
                                <span class="fa fa-a" style="color:white"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 style="text-align:center!important; width:100%; ">Create User</h2>
                <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding:2vw;">
                <form name="form" (ngSubmit)="signUpForm.form.valid && register(myModal,signUpForm) " #signUpForm="ngForm" novalidate>
                    <div *ngIf="errorResponse" style="text-align:center;color:red">{{errorMessage}}</div>
                    <div class="form-group" [ngClass]="{ 'has-error': accountname.touched && !accountname.valid }">
                        <label for="accountname">Account Name</label>
                        <input type="text" class="form-control" name="accountname" [(ngModel)]="user.acname" #accountname="ngModel" placeholder="Account Name"
                            required />
                        <div *ngIf="accountname.touched && !accountname.valid" class="help-block">Account Name is required</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': email.touched && !email.valid }">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Email Id" [(ngModel)]="user.emailid" #email="ngModel"
                            required pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
                        />
                        <div *ngIf="email.touched && !email.valid" class="help-block">Please enter valid Email</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': mobile.touched && !mobile.valid }">
                        <label for="mobile">Mobile Number</label>
                        <input type="tel" class="form-control" name="mobile" placeholder="Mobile Number" [(ngModel)]="user.mobile" #mobile="ngModel"
                            required pattern='^(\+91-|\+91|0)?\d{10}$' />
                        <div *ngIf="mobile.touched && !mobile.valid" class="help-block">Please enter vaild Mobile Number</div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': password.touched && !password.valid }">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="user.appuser.Password" #password="ngModel"
                            required pattern='^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^\w\s]).{6,}$' />
                        <!-- <div *ngIf="password.touched &&!password.valid" class="help-block">Please enter valid Password</div> -->
                        <div *ngIf="password.touched &&!password.valid" class="help-block">Password must contain one upper and lowercase, number and special character </div>
                    </div>
                    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                    <button type="button" style="float:right; margin-left:0.6vw;" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
                    <button [disabled]="!signUpForm.valid" class="center-block" style="float:right; margin-left:0.6vw;" type="submit" class="btn btn-primary">
                        <span style="margin-left:0.6vw;" >Save</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>