<h2>Reset Password</h2>

<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">New Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required />
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required />
        <div *ngIf="f.submitted && !confirmPassword.valid" class="help-block">Password is required</div>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <button class="center-block" style="float:right; margin-left:0.6vw;"  type="submit" class="btn btn-primary">
        <span style="margin-left:0.6vw;" (submit)="save();" >Change</span>
    </button>
</form>